<a href="https://colab.research.google.com/github/monicatom/Assignment/blob/main/python_basic_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [4]:
string=input("Enter a string:")
string_count={}

for char in string:
  if string in string_count:
    string_count[char] +=1
  else:
    string_count[char] =1

for char, count in string_count.items():
  print(f"{char} ={count}", end="," if char !=list(string_count.keys())[-1] else "")

Enter a string:assembly
a =1,s =1,e =1,m =1,b =1,l =1,y =1

2.Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [5]:
def maxno(a,b,c):
  if a>=b and a>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c

num1=int(input("Enter the number:"))
num2=int(input("Enter the number:"))
num3=int(input("Enter the number:"))
print("Maximum number is ",maxno(num1,num2,num3))

Enter the number:34
Enter the number:12
Enter the number:7
Maximum number is  34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [6]:
def exponent(base,exp):
  result =1
  for i in range(exp):
    result *=base
  return result
b=int(input("Enter base number:"))
e=int(input("Enter exponent number:"))
print("Exponent:",exponent(b,e))

Enter base number:2
Enter exponent number:4
Exponent: 16

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36

In [11]:
def sum_cube(n):
  result=0
  for i in range(1,n):
    result=i**3
  return result
num=int(input("Enter a number:"))
print("Sum of cube",sum_cube(num))

Enter a number:6
Sum of cube 125

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [12]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print("FizzBuzz",end=" ")
  elif i%2==0:
    print("Fizz",end=" ")
  elif i%5==0:
    print("Buzz",end=" ")
  else:
    print(i)

1
Fizz 3
Fizz Buzz Fizz 7
Fizz 9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [17]:
list_1=input("Enter the numbers:").split()

frequent={}

for i in list_1:
  if i in frequent:
    frequent[i] +=1
  else:
    frequent[i]=1

freq_occur=max(frequent, key=frequent.get)

print("Frequently occured:",freq_occur)

Enter the numbers:2 3 2 4 2 5 2 6 2
Frequently occured: 2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [19]:
list1=[2,1,3,1]

sum_sqaure=0
for i in list1:
  sum_sqaure +=i*2
print("Sum of squares:",sum_sqaure )

Sum of squares: 14

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [20]:
for i in range(1,16):
  if i%2==0:
    print(f"{i} - even")
  else:
    print(f"{i} - odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [22]:
fahrenheit=float(input("Enter temparture in Fahrenhit:"))

celsius=(fahrenheit-32)*5/9
print("Temparture in celsius:",celsius)

Enter temparture in Fahrenhit:41
Temparture in celsius: 5.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [24]:
def factorial(n):
  result=1
  for i in range(1,n+1):
    result *=i
  return result
num=int(input("Enter the number:"))
print("Factorial: ",factorial(num))

Enter the number:3
Factorial:  6