<a href="https://colab.research.google.com/github/monicatom/Assignment/blob/main/python_basics_task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [1]:
radius=float(input("Enter radius:"))

area=3.14*radius*radius
print(f"Area of a circle: {area}")

Enter radius:3
Area of a circle: 28.259999999999998

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [3]:
class std:
  def __init__(self,name,roll_no,mark):
    self.name=name
    self.roll_no=roll_no
    self.mark=mark

  def display(self):
    print(f"Name:{self.name}")
    print(f"Roll No:{self.roll_no}")
    print(f"Mark:{self.mark}")

name=input("Enter name:")
roll_no=int(input("Enter roll no:"))
mark=int(input("Enter mark:"))

std_details=std(name,roll_no,mark)
std_details.display()

Enter name:Anisha
Enter roll no:21
Enter mark:78
Name:Anisha
Roll No:21
Mark:78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number

In [7]:
num_list=[12,3,47,10]
num_max=max(num_list)
print("Largest number:",num_max)

Largest number: 47

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1â€¦.10

In [9]:
start=0
end=10
previous=0
for current in range(start,end+1):
  sum_current_no =current+previous
  print(f"Current no:{current}, Previous no:{previous}, sum of current number: {sum_current_no}")
  previous=current

Current no:0, Previous no:0, sum of current number: 0
Current no:1, Previous no:0, sum of current number: 1
Current no:2, Previous no:1, sum of current number: 3
Current no:3, Previous no:2, sum of current number: 5
Current no:4, Previous no:3, sum of current number: 7
Current no:5, Previous no:4, sum of current number: 9
Current no:6, Previous no:5, sum of current number: 11
Current no:7, Previous no:6, sum of current number: 13
Current no:8, Previous no:7, sum of current number: 15
Current no:9, Previous no:8, sum of current number: 17
Current no:10, Previous no:9, sum of current number: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [14]:
list2=[10,20,33,46,55]
for i in list2:
  if i%5==0:
    print(f"{i}")

10
20
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [18]:
num=int(input("Enter a number:"))
if num<=1:
  print(f"{num} is not a prime.")
else:
  for i in range(2,num):
    if num%i==0:
      print(f"{num} is not a prime number.")
    else:
      print(f"{num} is a prime.")

Enter a number:3
3 is a prime.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [22]:
list3=[10,40,30,70]
reverse_list=[]

for item in range(len(list3)-1,-1,-1):
  reverse_list.append(list3[item])
print(reverse_list)

[70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [25]:
pattern=int(input("No of rows:"))
for i in range(1,pattern+1):
  print("*"*i)

No of rows:4
*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [26]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=int(input("Enter a number:"))

if a>=b and a>=c:
  print(f"{a} is the maximum among three numbers")
elif b>=a and b>=c:
  print(f"{b} is the maximum among three numbers")
else:
  print(f"{c} is the maximum among three numbers")

Enter a number:34
Enter a number:12
Enter a number:7
34 is the maximum among three numbers

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [27]:
row=int(input("No of row needed:"))

for i in range(1,row+1):
  for j in range(i):
    print("*", end="")
  print()
for i in range(row-1,0,-1):
  for j in range(i):
    print("*",end="")
  print()

No of row needed:5
*
**
***
****
*****
****
***
**
*